<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Заметки</title>
</head>
<body>
    <h1>Список заметок</h1>
    <ul>
        {% for note in notes %}
            <li>
                <a href="{{ url_for('note_detail', note_id=note.id) }}">{{ note.title }}</a>
                - {{ note.description }}
                <a href="{{ url_for('delete_note', note_id=note.id) }}">Удалить</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('add_note') }}">Добавить заметку</a>
</body>
</html>
